<article
  class="media-card"
  [class.portrait]="isPortrait()"
  [class.landscape]="isLandscape()"
  (click)="onOpen()"
>
  <div class="media">
    <div class="overlay">
      @if (isVideo()) {
        <i class="fa-solid fa-play"></i>
      } @else {
        <i class="fa-solid fa-expand"></i>
      }
    </div>

    <!-- VIDEO VIMEO -->

    @if (isVideo()) {
      <img [src]="data.thumbnail" [alt]="data.title" />

      <div class="video-badge">
        <i class="fa-solid fa-video"></i>
      </div>
    }

    <!-- IMAGE -->

    @if (isImage()) {
      <img [src]="data.url" [alt]="data.title" />
    }

    <!-- PDF -->

    @if (isPdf()) {
      <img [src]="data.thumbnail" [alt]="data.title" />
      <div class="pdf-preview">
        <i class="fa-solid fa-file-pdf"></i>
      </div>
    }
  </div>

  <div class="content">
    <h3>
      {{ data.title }}
    </h3>

    @if (data.description) {
      <p>
        {{ data.description }}
      </p>
    }

    @if (data.tags?.length) {
      <div class="tags">
        @for (tag of data.tags; track tag) {
          <span class="tag">
            {{ tag }}
          </span>
        }
      </div>
    }
  </div>
</article>
