<app-side-nav />

<section id="hero">
  <app-hero />
</section>

<section id="promo" class="section">
  <section class="container">
    <app-section-title title="Promotion de projets"> </app-section-title>
    <app-text-promo></app-text-promo>
    <div class="media-grid">
      <app-media-grid [items]="videosPromo"> </app-media-grid>
    </div>
  </section>
</section>

<section id="equipe" class="section">
  <section class="container">
    <app-section-title title="Valorisation des équipes"> </app-section-title>
    <app-text-equipe></app-text-equipe>
    <app-media-grid [items]="videosEquipe"> </app-media-grid>
  </section>
</section>

<section id="plaquette" class="section">
  <div class="container">
    <app-section-title title="Plaquettes"> </app-section-title>
    <app-text-plaquette></app-text-plaquette>
    <app-couv-bts [visuals]="campaignVisuals"></app-couv-bts>
    <app-text-plaquette-redaction></app-text-plaquette-redaction>
    <app-calameo-container [publications]="plaquettes"></app-calameo-container>
  </div>
</section>

<section id="site" class="section">
  <div class="container">
    <app-section-title title="Sites"> </app-section-title>

    <p>Sites internet</p>
  </div>
</section>

<section class="credentials">
  <p>Site réalisé avec amour par mon grand frère</p>
</section>
