<section class="hero-section">
  <div class="container">
    <div class="hero-grid">
      <div class="portrait-wrapper">
        <div class="hero-portrait">
          <img src="jade_portrait.jpg" alt="Portrait de Jade Séverin" />
        </div>
      </div>

      <div class="content">
        <span class="eyebrow"> Faire rayonner les projets culturels </span>

        <h1>Jade Séverin</h1>

        <p>
          Relations publiques, réseaux sociaux, communication digitale, valorisation des artistes,
          événements culturels.
        </p>
        <p>Culture et structure publique.</p>

        <app-social-links />
      </div>
    </div>
  </div>
  <div class="scroll-indicator" (click)="scrollToProjects()">
    <i class="fa-solid fa-chevron-down" aria-label="Découvrir"></i>
  </div>
</section>
