.media-grid {
  position: relative;

  z-index: 10;

  display: grid;

  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: 1.5rem;

  align-items: stretch;

  padding-block: 2rem;
}

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {
  .media-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 640px) {
  .media-grid {
    grid-template-columns: 1fr;

    gap: 1rem;
  }
}
