@if (item) {
  <div class="lightbox-overlay">
    <div class="lightbox-backdrop" (click)="onClose()"></div>

    <button
      class="close-button"
      type="button"
      aria-label="Fermer"
      (click)="onClose(); $event.stopPropagation()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="lightbox-content">
      @if (isLoading) {
        <div class="loader"></div>
      } @else {
        @if (isImage(item)) {
          <img [src]="item.url" [alt]="item.title" />
        } @else if (isVimeoVideo()) {
          <div
            class="lightbox-video"
            [class.portrait-video]="item.orientation === 'portrait'"
            [class.landscape-video]="item.orientation === 'landscape'"
          >
            <iframe
              [src]="item.vimeoUrl! | safeUrl"
              title="Vimeo player"
              frameborder="0"
              allow="
                autoplay;
                fullscreen;
                picture-in-picture;
                clipboard-write;
                encrypted-media;
                web-share;
              "
              allowfullscreen
            >
            </iframe>
          </div>
        } @else if (isPdf(item)) {
          <div class="pdf-viewer">
            <h2>{{ item.title }}</h2>

            @if (item.calameoUrl) {
              <iframe class="calameo-frame" [src]="item.calameoUrl | safeUrl"> </iframe>
            }
          </div>
        }
      }
    </div>
  </div>
}
